*.diff
*.patch
*.orig
*.rej

*~
*.a
*.lo
*.o
*.dylib

*.gcda
*.gcno
*.gcov

/example
/example64
/examplesh
/libz.so*
/minigzip
/minigzip64
/minigzipsh
/zlib.pc
/configure.log

.DS_Store
/build/CMakeFiles
/build/Debug
/build/Win32
/build/*.dir
/build/ipch
/build/x64
/build/*.sdf
/build/*.opensdf
/build/*.suo
